<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Administrador</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div th:insert="layout/header::header"></div>

	<div class="container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class="col-md-5 col-sm-11">
				<div class="card">
					<div class="card-header text-center">Gestionar Usuarios</div>
					<div class="card-body">
						<form th:action="@{/administrador}" th:object="${usuarioDelForm}"
							method="POST">
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Nombre
											de Usuario</span>
									</div>
									<input th:field="${usuarioDelForm.nombreUsuario}" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Contraseña</span>
									</div>
									<input th:field="${usuarioDelForm.password}" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Nombre
											Real</span>
									</div>
									<input th:field="${usuarioDelForm.nombreReal}" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Apellido
											Real</span>
									</div>
									<input th:field="${usuarioDelForm.apellidoReal}" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Tipo
											Usuario</label>
									</div>
									<select class="custom-select" id="inputGroupSelect01" th:field="${usuarioDelForm.tipoUsuario}">
										<option value="Consultor">Consultor</option>
										<option value="Registrador">Registrador</option>
										<option value="Administrador">Administrador</option>
									</select>
								</div>
							</div>

							<div class="row form-group justify-content-center mb-0">
								<button type="submit" class="btn btn-primary mr-2">Registrar</button>
								<button type="button" class="btn btn-primary mr-2">Modificar</button>
								<button type="button" class="btn btn-primary">Eliminar</button>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">TIPO_USUA</th>
					<th scope="col">NOM_USUA</th>
					<th scope="col">NOMBRE</th>
					<th scope="col">APELLIDO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "usuario : ${listaUsuarios}">
					<td th:text="${usuario.id}"></td>
					<td th:text="${usuario.tipoUsuario}"></td>
					<td th:text="${usuario.nombreUsuario}"></td>
					<td th:text="${usuario.nombreReal}"></td>
					<td th:text="${usuario.apellidoReal}"></td>
				</tr>
			</tbody>
		</table>
		<div class="row justify-content-center mt-5 mb-5">
			<div class="col-md-5 col-sm-11">
				<div class="card">
					<div class="card-header text-center">Gestionar localidades</div>
					<div class="card-body">
						<form>
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Localidad
										</span>
									</div>
									<input type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>


							</div>

							<div class="row form-group justify-content-center mb-0">
								<button type="button" class="btn btn-primary mr-2">Registrar</button>
								<button type="button" class="btn btn-primary mr-2">Modificar</button>
								<button type="button" class="btn btn-primary">Eliminar</button>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Localidad</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "usuario : ${listaLocalidades}">
					<td th:text="${localidades.id}"></td>
					<td th:text="${localidades.nombre_loc}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	<div th:insert="layout/footer::footer"></div>
</body>
</html>