<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registrador</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div th:insert="layout/header::header"></div>

	<div class="container">
		<div class="row justify-content-center mt-5 mb-5">
			<div class="col-md-8 col-sm-11">
				<div class="card">
					<div class="card-header text-center">Gestionar Registros
						Vehículos</div>
					<div class="card-body">
					
						<form th:action="@{/save}" th:object="${registroTracking}" method="POST">
							<div class="form-group">
								<label for="vehiculos">Datos del Vehículo</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">N°
											Patente</span>
									</div>
									<input th:field ="*{vehiculo.patente}" type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Color</span>
									</div>
									<input th:field ="*{vehiculo.color}"  type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Titular</span>
									</div>
									<input th:field ="*{vehiculo.titular}" type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Marca</span>
									</div>
									<input th:field ="*{vehiculo.marca}" type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Modelo</span>
									</div>
									<input th:field ="*{vehiculo.modelo}" type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Tipo</span>
									</div>
									<input th:field ="*{vehiculo.tipo}" type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">N°
											Chasis</span>
									</div>
									<input th:field ="*{vehiculo.numeroChasis}" type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">N°
											Motor</span>
									</div>
									<input th:field ="*{vehiculo.numeroMotor}" type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>

							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Tripulantes</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">N° Documento</span>
									</div>
									<input type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
									</div>
									<input type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
									</div>
									<input type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Nacionalidad</span>
									</div>
									<input type="text" class="form-control"
										aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-default">
								</div>
								<button type="button" class="btn btn-primary mb-3">Agregar
									Tripulante</button>

								<table class="table table-striped">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">First</th>
											<th scope="col">Last</th>
											<th scope="col">Handle</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Mark</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Jacob</td>
											<td>Thornton</td>
											<td>@fat</td>
										</tr>
										<tr>
											<th scope="row">3</th>
											<td>Larry</td>
											<td>the Bird</td>
											<td>@twitter</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="row form-group justify-content-center mb-0">
								<button type="submit" class="btn btn-primary">Registrar</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	<div th:insert="layout/footer::footer"></div>
</body>
</html>